<div class="separator-line"></div>
<footer>
  <div class="container-fluid text-center">
    <p>
      <a title="Glossary (index)" routerLink="/index" routerLinkActive="active">
        <i class="bi bi-list-columns-reverse"></i>
      </a>
    </p>
    <p>
      <a target="_blank" title="API Documentation" href="/swagger-ui/index.html"
        ><i class="bi bi-code-slash"></i
      ></a>
    </p>
    <p>
      <a title="Events Log" routerLink="/logs" routerLinkActive="active"
        ><i class="bi bi-activity"></i
      ></a>
    </p>
    <p>
      <a
        title="Codebase"
        target="_blank"
        href="https://github.com/chandanv89/dictionary-api.git"
        ><i class="bi bi-github"></i
      ></a>
    </p>
  </div>
</footer>
