.search-control {
    height: 75%;
    border: 1px solid #eee;
    border-radius: 5px;
    max-width: 1000px;
}

.top-30 {
    top: 50% !important;
}

.logs {
    font-family: monospace;
    font-size: 0.75em;
    background-color: #333;
    color: #ccc;
    overflow-x: auto;
    height: 100%;
    width: 100%;
    padding: 15px;
}

.logs li {
    list-style: none;
    margin-bottom: 10px;
}