<div class="search-control container-md">
  <div class="m-3 p-5">
    <div class="container align-centre">
      <h1 class="display-4">Welcome!</h1>
      <p>
        Welcome to the Dictionary. The application is still being developed and
        is continuously improving.
      </p>
      <p>
        While I've spent long hours testing and tweaking it, some features might
        still be buggy! I'm working on them <i class="bi bi-emoji-wink"></i>
      </p>
    </div>
    <form [formGroup]="formGroup" (ngSubmit)="search()">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">
          <i class="bi bi-search"></i>
        </span>
        <input
          type="text"
          class="form-control"
          id="searchPhrase"
          formControlName="searchPhrase"
          placeholder="Search the dictionary..."
        />
        <button
          class="btn btn-outline-secondary"
          type="submit"
          id="button-addon2"
        >
          Find
        </button>
      </div>
    </form>
  </div>
</div>
